<div
  style="min-height: 100dvh"
  class="w-64 h-full absolute sm:relative bg-inidigo-800 md:h-full flex-col justify-between hidden sm:flex"
>
  <div class="px-3">
    <div class="h-16 w-full flex items-center">
      <!-- <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg1.svg"
                alt="Logo"
              /> -->
      <!-- bg-[url('./img/logo.png')] dark: -->

      <div
        class="mx-auto h-16 w-16 mt-3 bg-[url('./img/logo.png')] dark:bg-[url('./img/logo-dark.png')] bg-cover"
      ></div>
      <h2
        class="font-mono font-semibold text-2xl text-gray-600 dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-r dark:from-green-200 dark:to-teal-400 dark:hover:text-green-200"
      >
        EC-Mart
      </h2>
    </div>
    <!-- Sidebar Option List 
    
    -->
    <ul class="mt-12">
      <!-- Product List -->
      <li
        class="flex w-full justify-between text-slate-600 dark:text-sky-400 cursor-pointer items-center mb-6"
      >
        <a
          href="/buyer/productList/"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-grid"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <rect x="4" y="4" width="6" height="6" rx="1"></rect>
            <rect x="14" y="4" width="6" height="6" rx="1"></rect>
            <rect x="4" y="14" width="6" height="6" rx="1"></rect>
            <rect x="14" y="14" width="6" height="6" rx="1"></rect>
          </svg>
          <span class="text-sm ml-2">Product Catalog</span>
        </a>
      </li>

      <!-- Product Cart -->
      <li
        class="flex w-full justify-between text-slate-600 dark:text-sky-400 hover:text-gray-300 cursor-pointer items-center mb-6 border-l-4 border-solid border-blue-500"
      >
        <a
          href="/buyer/buyer_cart/"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-puzzle"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path
              d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"
            ></path>
          </svg>
          <span class="text-sm ml-2">Shopping Cart</span>
        </a>
      </li>

      <!-- Orders -->
      <li
        class="flex w-full justify-between text-slate-600 dark:text-sky-400 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="./buyer_orders.html"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-compass"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <polyline points="8 16 10 10 16 8 14 14 8 16"></polyline>
            <circle cx="12" cy="12" r="9"></circle>
          </svg>
          <span class="text-sm ml-2">Pending Orders</span>
        </a>
      </li>

      <!-- Orders Delivered -->
      <li
        class="flex w-full justify-between text-slate-600 dark:text-sky-400 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="./buyer_orders.html"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-compass"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <polyline points="8 16 10 10 16 8 14 14 8 16"></polyline>
            <circle cx="12" cy="12" r="9"></circle>
          </svg>
          <span class="text-sm ml-2">Delivered Orders</span>
        </a>
      </li>

      <!-- Account -->
      <li
        class="flex w-full justify-between text-slate-600 dark:text-sky-400 hover:text-gray-300 cursor-pointer items-center"
      >
        <a
          href="./account_details.html"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-settings"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <circle cx="12" cy="12" r="3" />
          </svg>
          <span class="text-sm ml-2">Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div
  style="min-height: 100dvh"
  class="w-64 z-40 h-full absolute bg-slate-900 md:h-full flex-col justify-between sm:hidden transition duration-150 ease-in-out"
  id="mobile-nav"
>
  <!-- Eta LOGO and Company name Div -->
  <button
    aria-label="toggle sidebar"
    id="openSideBar"
    class="h-10 w-10 bg-slate-900 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 rounded focus:ring-gray-800"
    onclick="sidebarHandler(true)"
  >
    <img
      src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg7.svg"
      alt="toggler"
    />
  </button>
  <button
    aria-label="Close sidebar"
    id="closeSideBar"
    class="hidden h-10 w-10 bg-slate-900 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white"
    onclick="sidebarHandler(false)"
  >
    <img
      src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg8.svg"
      alt="cross"
    />
  </button>
  <div class="px-3">
    <div class="h-16 w-full flex items-center">
      <div
        class="mx-auto h-16 w-16 mt-3 bg-[url('./img/logo.png')] dark:bg-[url('./img/logo-dark.png')] bg-cover"
      ></div>
      <h2
        class="font-mono font-semibold text-2xl text-gray-600 dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-r dark:from-green-200 dark:to-teal-400 dark:hover:text-green-200"
      >
        EC-Mart
      </h2>
    </div>
    <ul class="mt-12">
      <li
        class="flex w-full justify-between text-gray-300 hover:text-gray-500 cursor-pointer items-center mb-6"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-grid"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <rect x="4" y="4" width="6" height="6" rx="1"></rect>
            <rect x="14" y="4" width="6" height="6" rx="1"></rect>
            <rect x="4" y="14" width="6" height="6" rx="1"></rect>
            <rect x="14" y="14" width="6" height="6" rx="1"></rect>
          </svg>
          <span class="text-sm ml-2">Dashboard</span>
        </a>
        <div
          class="py-1 px-3 bg-slate-900 rounded text-gray-300 flex items-center justify-center text-xs"
        >
          5
        </div>
      </li>
      <li
        class="flex w-full justify-between text-slate-600 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-puzzle"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path
              d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"
            ></path>
          </svg>
          <span class="text-sm ml-2">Products</span>
        </a>
        <div
          class="py-1 px-3 bg-slate-900 rounded text-gray-300 flex items-center justify-center text-xs"
        >
          8
        </div>
      </li>
      <li
        class="flex w-full justify-between text-slate-600 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-compass"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <polyline points="8 16 10 10 16 8 14 14 8 16"></polyline>
            <circle cx="12" cy="12" r="9"></circle>
          </svg>
          <span class="text-sm ml-2">Inventory</span>
        </a>
      </li>
      <li
        class="flex w-full justify-between text-slate-600 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-code"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <polyline points="7 8 3 12 7 16"></polyline>
            <polyline points="17 8 21 12 17 16"></polyline>
            <line x1="14" y1="4" x2="10" y2="20"></line>
          </svg>
          <span class="text-sm ml-2">Sales</span>
        </a>
      </li>
      <li
        class="flex w-full justify-between text-slate-600 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-puzzle"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path
              d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"
            ></path>
          </svg>
          <span class="text-sm ml-2">Orders</span>
        </a>
        <div
          class="py-1 px-3 bg-slate-900 rounded text-gray-300 flex items-center justify-center text-xs"
        >
          25
        </div>
      </li>
      <li
        class="flex w-full justify-between text-slate-600 hover:text-gray-300 cursor-pointer items-center mb-6"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-stack"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="12 4 4 8 12 12 20 8 12 4" />
            <polyline points="4 12 12 16 20 12" />
            <polyline points="4 16 12 20 20 16" />
          </svg>
          <span class="text-sm ml-2">Rating and Review</span>
        </a>
      </li>
      <li
        class="flex w-full justify-between text-slate-600 hover:text-gray-300 cursor-pointer items-center"
      >
        <a
          href="javascript:void(0)"
          class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-settings"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <circle cx="12" cy="12" r="3" />
          </svg>
          <span class="text-sm ml-2">Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="border-t border-gray-700">
    <ul
      class="px-2 w-full flex items-center justify-between bg-blue-400 dark:bg-slate-900"
    >
      <li class="cursor-pointer text-white pt-5 pb-3">
        <button
          aria-label="show notifications"
          class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg3.svg"
            alt="notifications"
          />
        </button>
      </li>
      <li class="cursor-pointer text-white pt-5 pb-3">
        <button
          aria-label="open chats"
          class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg4.svg"
            alt="chat"
          />
        </button>
      </li>
      <li class="cursor-pointer text-white pt-5 pb-3">
        <button
          aria-label="open settings"
          class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg5.svg"
            alt="settings"
          />
        </button>
      </li>
      <li class="cursor-pointer text-white pt-5 pb-3">
        <button
          aria-label="open logs"
          class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg6.svg"
            alt="drawer"
          />
        </button>
      </li>
    </ul>
  </div>
</div>
