<!DOCTYPE html>
<html class="h-full dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECMart</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/header/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/header/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/header/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/header/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/css/app.css" rel="stylesheet" />
  </head>
  <!-- ERROR MIGHT OCCUR -->
</html>
